---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title} class="prose">
  <p>{page.data.description}</p>
  <Content />
</BaseLayout>
