---
import { getEntry, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";

const home = await getEntry("pages", "home");

if (!home) {
	throw new Error("Home page not found");
}

const { Content } = await render(home);
---

<BaseLayout pageTitle={home.data.title} class="prose">
	<p>{home.data.description}</p>
	<Content />
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
